# .NET build artifacts
/bin/
/obj/
/app/out/
*.user
*.suo
*.vs/
*.vscode/
*.DS_Store
wwwroot/files/build.txt

# esbuild output that is required
## i.e. DO NOT ignore these!
!package.json
!package-lock.json

# TypeScript build output
wwwroot/dist/*
tsconfig.tsbuildinfo
node_modules/

# Visual Studio settings
/.vs/