# .NET build artifacts
/bin/
/obj/
/app/out/
*.user
*.suo
*.vs/
*.vscode/
*.DS_Store
wwwroot/files/build.txt

# TypeScript build output
wwwroot/dist/*
tsconfig.tsbuildinfo
node_modules/

# Visual Studio settings
/.vs/